*{
    box-sizing: border-box;
}

.grid{
    border:2px black solid;
    margin:auto;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.row{
    flex:1;
    display: flex;
}

.case{
    flex:1;
    border:1px black solid;
}

.hoverColor{
    background-color: rgb(198, 25, 48);
}

#resize{
    border: 2px solid black;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin:auto;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 16px 62px;
}