*{
    box-sizing: border-box;
}

.grid{
    border:2px black solid;
    margin:auto;
    margin-top: 40px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.row{
    flex:1;
    border: 1px solid black;
    display: flex;
}

.case{
    flex:1;
    border:1px black solid;
}

.hoverColor{
    background-color: rgb(198, 25, 48);
}