.grid{

    margin:auto;
    margin-top: 40px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.case{
    border :2px black solid;
    display: inline-block;
    background-color: rgb(176, 192, 187);
    width: 50px;
    height: 50px;
}

.hoverColor{
    background-color: rgb(198, 25, 48);
}