*{
    box-sizing: border-box;
    
}

.grid{
    border:2px black solid;
    /* margin:auto; */
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.row{
    flex:1;
    display: flex;
}

.case{
    flex:1;
    border:1px black solid;
}

.hoverColor{
    background-color: rgb(198, 25, 48);
}

#resize{
    border: 2px solid black;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin:auto;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 16px 62px;
}

#resize:hover{
    background-color: grey;
    color:white;
}
.wrapper{
    display: flex;
    justify-content: center;
    
    align-items: center;
  
}


.features{
    align-self: stretch;

    border:2px black solid;
    background-color: grey;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap:14px;
}

.eraser{
    margin-top:15vh;
}
.eraser img{
    margin:0px 50px;
}
.eraser img:hover{
    width: 53px;
    margin:0px 50px;
}

.colors{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:2px;
}

.row-color{
    display: flex;
    gap: 2px;
}
#red,#green,#blue,#purple,#yellow,#orange,#pink,#black,#grey{
    padding: 12px 12px;
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 2px solid black ;
}

#red{
    background-color: red;
}
#red:hover{
    background-color: rgba(255, 21, 21, 0.712);
    border: 0px;
}
#green{
    background-color: green;
}
#green:hover{
    background-color: rgba(0, 128, 0, 0.536);
    border:0px;
}

#blue{
    background-color: blue;
}
#blue:hover{
    background-color: rgba(0, 0, 255, 0.533);
    border:0px;
}

#purple{
    background-color: purple;
}
#purple:hover{
    background-color: rgba(128, 0, 128, 0.762);
    border:0px;
}
#yellow{
    background-color: yellow;
}
#yellow:hover{
    background-color: rgba(255, 255, 0, 0.541);
    border:0px;
}
#orange{
    background-color: orange;
}
#orange:hover{
    background-color: rgba(255, 166, 0, 0.571);
    border:0px;
}

#pink{
    background-color: rgb(251,116,168);
}
#pink:hover{
    background-color: rgba(251, 116, 168, 0.642);
    border:0px;
}
#grey{
    background-color: grey;
}
#grey:hover{
    background-color: grey;
    border:0px;
}
#black{
    background-color: black;
}
#black:hover{
    background-color: rgba(0, 0, 0, 0.514);
    border:0px;
}




